
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
    font-size: larger;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    position: relative;
}
.calc{
    background-color: black;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    background-color: #2196F3;
    padding: 10px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.grid{
    background-color: hsl(0, 0%, 50%);
    border: 1px solid black;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    color: antiquewhite;
    outline: none;
}
.calc > button{
    cursor: pointer;
}
.calc > button:hover{
    opacity: .90;
}
.total{
    grid-column: span 4;
    background-color: hsl(0, 0%, 0%);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
}
.total .previous-operand{
    color: rgba(255,255,255, .50);
    font-size: 1.5rem;
}
.total .current-operand{
    color: rgba(255,255,255, 1);
    font-size: 2.5rem;
}
.delete {
    font-size: 1.5rem;
}
.zero{
    grid-column: span 2;
}
.orange{
    background-color: hsl(39, 100%, 50%);
}
.dark{
    background-color: hsl(0, 0%, 25%);
}
