// .gitignore

# api keys
.env
key.js

# dependencies
/node_modules
node_modules
/nodejs-ssl-server/node_modules
/Users/johnestes/Documents/WebSites/GitHub/Working-Projects/node_modules
/Victron/nodejs-ssl-server