
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.slider{
    width: 50%;
    height: 50%;
    background-color: #000;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.header{
    top: 0%;
    position: absolute;
    font-size: 5em;
}
div.clientPhoto {
    width:150px;
    height:150px; 
    background-image:url('standIn.jpg');
    background-size: cover;
    position: absolute;
    bottom: 80%;
 }
.btn{
    top: 45%;
    position: absolute;
    transform: translateY(100%);
    font-size: 3em;
    line-height: 1em;
    cursor: pointer;
}
.next{
    rotate: 270deg;
    right: 0;
}
.previous{
    rotate: 90deg;
    left: 0;
}