:root{
    --rgb1: 0;
    --rgb2: 0;
    --rgb3: 255;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(var(--rgb1), var(--rgb2), var(--rgb3));
    position: relative;
    text-align: center;
}
.card{
    width: 150px;
}