
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100%;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
header{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}
.current, .currentBreakdown{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.current{
    border-right: 1px lightgray solid;;
}
.currentWeatherIcon, .forecastIcon, #hourlyImg{
    background-image: url("./img/cloudy-day-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30%;
    height: 100%;
}
.currentWeatherTemp{
    height: 100%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.currentBreakdown{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.currentType{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.currentNumber{
    font-size: 1.5rem;
}
.main{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.forecastCard{
    width: 80%;
    height: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px lightgray solid;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 10px;
}
.forecastIcon{
    width: 70%;
}
.forecastDay{
    font-size: 1.5rem;
}
.forecastTemp{
    font-size: 2rem;
}
.hourly{
    width: 100%;
}
.hourlyBreakdown{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100px;
}
#hourlyImg{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    align-items: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li:nth-child(2n+1){
    background-color: lightgray;
}