body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    position: relative;
    display: flex;
    padding: 5px;
    
}
.calendar{
    display: grid;
    position: relative;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: repeat(2, max-content) repeat(5, 100px);
    border-top: 1px solid black;
    border-left: 1px solid black;
    height: max-content;
}
.calendar > .square{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    position: relative;
}
.square::after{
    content: attr(data-calendar);
    position: absolute;
    right: 4px;
    top: 2px;
    color: black;
    font-size: 1rem;
}
.day{
    text-align: center;
}
.header{
    grid-column: 1 / -1;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}
.arrow{
    content: '';
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrow:hover{
    border: solid hsl(0, 0%, 50%);  
    border-width: 0 3px 3px 0; 
}
.year{
    position: absolute;
    right: 5px;
    font-size: 1rem;
    top: 5px;
}