
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: antiquewhite;
    font-size: larger;
}
.container{
    width: 100vw;
    height: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    position: relative;
}
.inputs{
    padding-top: 20px;
}
input {
    width: 80%;
    font-size: 1.5rem;
    margin: 10px 10px 10px 0px;
}    
.inline{
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
}
.icon{
    width: 25px;
    height: 53.5px;
    color: black;
    display: flex;
    justify-content: right;
    padding-right: .5rem;
    align-items: center;
    border: 1px black solid;
}
i{
    font-size: 1.5rem;

}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-template-rows: auto;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}
.courseItem{
    width: 100%;
    height: 500px;
    background-color: white;
}
.image{
    height: 80%;
    width: 100%;
    background-color: antiquewhite;
    border-bottom: 1px darkgray solid;
}
.coursePhoto{
    width: 100%;
    height: 100%;
    background-size: cover;
}

p{
    margin: 0;
    padding: .25rem;
    color: black;
    width: 100%;
    margin-left: 10%;
}
.error::placeholder{
    color: red;
    opacity: 1;
}
.span{
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 5px;
}
.spanName{
    background-color: yellow;
}.spanCourse{
    background-color: green;
}
.spanAuthor{
    background-color: red;
}