:root{
    --rgb1: 0;
    --rgb2: 0;
    --rgb3: 255;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(var(--rgb1), var(--rgb2), var(--rgb3));
    position: relative;
}
.changeButton{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.square, .circle{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px black solid;
    position: absolute;
}
.circle{
    border-radius: 50%;
}