body {
    font-family: Arial, sans-serif;
    font-size: clamp(.45rem, .9rem, 1.5rem);
    height: 100dvh;
    width: 100dvw;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    display: block;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-around; /* Distributes space evenly around items */
    align-items: center; /* Vertically aligns items in the center */
    max-width: 600px; /* Sets the maximum width of the container */
    margin: 0 auto; /* Centers the container horizontally */
    width: 100%; /* Allows the container to be responsive */
    height: 25px;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

header {
    width: 100%;
    height: 25px;
    position: relative;
    left: 0;
    top: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

header span {
    /* Optional: Add some styling to the spans if needed */
    padding: 0 10px; /* Adjust spacing around each item */
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: max-content;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* #timeStamp{
    position: absolute;
    right: 15px;
    top: 5px;
} */
.title{
    font-weight: 700;
    text-align: right;
}

.loginContainer{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    display: none;
    z-index: 10;
}
.loginForm{
    background-color: rgb(116, 179, 233);
    padding: 10px;
    width: max-content;
    height: max-content;
    z-index: 11;
}
input{
    margin: 5px;
}
.buttonCenter{
    display: flex;
    justify-content: center;
}
#loginButton{
    padding: 5px;
    font-size: clamp(.5rem, 1.1rem, 2rem);
    margin-top: 15px;
}
.tempButton{
    padding: 5px;
    margin: 5px;
    border: 1px black solid;
    background-color: lightgray;
}
.loadingGraphic{
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
#loading{
    height: 100px;
    width: 100px;
}
.none{
    display: none;
}

.container-output {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 600px;
    z-index: 2;
}

.box {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.status {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.charging {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.pv-charger {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.line{
    width: 150px;
    height: 5px;
    border: 1px black solid;
    overflow: hidden;
}
.line img{
    width: 200px;
}
.container-lines{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.statusLine{
    rotate: 90deg;
    transform: translateX(-50%);
    background-color: red;
}
.chargingLine{
    transform: translate(50%, -50%);
    background-color: green;
}
.pv-chargerLine{
    transform: translate(-50%, -150%);
    background-color: blue;
}
#animatedImage {
    position: relative;
    animation: move 3s linear infinite running;
}

@keyframes move {
    0% { top: 0; }
    25% { top: -5px; }
    50% { top: -10px; } /* Move up by default */
    75% { top: -15px; } /* Move up by default */    
    100% { top: 0; }
}
@media (max-width: 600px) {
    .container-output {
        gap: 10px;
    }
    
    .box {
        padding: 5px;
    }
}